body {
  background-color: #191765;
  font-family: Roboto;
  font-style: normal;
  padding: 0px;
  margin: 0px;
  max-width: 375px;
}

nav {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 16px;
  color: #FFFFFF;
}

.logo-placeholder {  
  font-weight: 500;
  font-size: 18px;
  width: 81px;
  height: 16px;
  margin-left: 24px;
  margin-top: 10px;
}

.ham-menu {
  width: 38px;
  height: 23px;
  margin-right: 24px;
  margin-top: 10px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 47px;
}

.name {  
  width: 327px;
  height: 55px;
  color: #7D73FC;
  font-weight: 700;
  font-size: 38px;
  line-height: 72px;
  text-align: center;
}

.profession {
  width: 327px;
  height: 65px;
  color: #EDECFF;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-top: 12px;
  text-align: center;
}

.about {
  width: 327px;
  height: 170px;
  color: #C8C8D4;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  margin-top: 40px;
}

.skill-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid #646369;
  border-bottom: 1px solid #646369;
}

ul {
  list-style: none;
  text-align: left;
}

li {
  color: #F5F5FF;  
  text-align: left;
}

.box {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #9490FF;
  text-align: center;
  width: 50%;
}

.icons {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sn {
  padding: 11px;
}